<!DOCTYPE html>
<html lang="en">
<!--Head-->
<% include partials/head %>

<body>
	<!--Navbar-->
	<% include partials/nav %>
	<!--Main Content-->
	<!--Hero-->
	<section class="container hero">
		<h1 class="deep-orange-text text-darken-4">
			<%= title %>
		</h1>
		<p class="grey-text text-darken-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt
			cupiditate culpa tenetur placeat nobis, officia quaerat repellendus consectetur a veniam ducimus minima animi
			accusamus facere quis at harum in?</p>
	</section>
	<section id="type-effect" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Type Effectiveness</h3>
		<div class="gap-10"></div>
		<div id="type-symbols">
			<% typeNames.forEach(function(type) { %>
			<div class="type-symbol-item <%= type%>"></div>
			<% }); %>
		</div>
		<div style="display: none;" id="type-info">
			<div class="gap-40"></div>
			<div id="type-content">
			</div>
		</div>
	</section>
	<div class="gap-40"></div>
	<section id="stats-calc" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Stats Calculator</h3>
		<div class="gap-10"></div>
		<h5 id="nature-title">Select a Nature</h5>
		<div class="row">
			<% natureNames.forEach(function(nature) { %>
			<div class="col s6 m4 l3 xl2 nature-btn-container">
				<div class="nature-btn z-depth-1" data-content="<%= nature%>"><%= nature%></div>
			</div>
			<% }); %>
		</div>
		<div class="gap-10"></div>
		<h5>Base Values & IVs & EVs</h5>
		<div class="flex-col-center">
			<% statNames.forEach(function(stat) { %>
			<div class="stat-section">
				<div class="stat-value"><span></span><span><%= stat%>:</span><span data-stat="<%= stat.toLowerCase()%>">0</span>
				</div>
				<div class="gap-20"></div>
				<div class="stat-data">
					<div class="input-field">
						<input id="base-<%= stat.toLowerCase()%>" type="number" class="validate" min="0" max="500" step="1">
						<label for="base-<%= stat.toLowerCase()%>">Base</label>
					</div>
					<div class="input-field">
						<input id="iv-<%= stat.toLowerCase()%>" type="number" class="validate" min="0" max="31" step="1">
						<label for="iv-<%= stat.toLowerCase()%>">IV</label>
					</div>
					<div class="input-field">
						<input id="ev-<%= stat.toLowerCase()%>" type="number" class="validate" min="0" max="252" step="4">
						<label for="ev-<%= stat.toLowerCase()%>">EV</label>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
		<div class="gap-40"></div>
		<div class="flex-row-center">
			<button class="btn waves-effect waves-light deep-orange darken-4" type="button">Calculate
				<i class="material-icons right">keyboard</i>
			</button>
		</div>
	</section>
	<!--Footer-->
	<% include partials/footer %>
	<!--Scripts-->
	<% include partials/scripts %>
	<!--Custom Scripts-->
	<script src="/javascripts/calc.js"></script>
</body>

</html>