<!DOCTYPE html>
<html lang="en">
<!--Head-->
<% include partials/head %>

<body>
	<!--Navbar-->
	<% include partials/nav %>
	<!--Main Content-->
	<!--Hero-->
	<section class="container hero">
		<h1 class="deep-orange-text text-darken-4">
			<%= title %>
		</h1>
		<p class="grey-text text-darken-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt
			cupiditate culpa tenetur placeat nobis, officia quaerat repellendus consectetur a veniam ducimus minima animi
			accusamus facere quis at harum in?</p>
	</section>
	<section id="type-effect" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Type Effectiveness</h3>
		<div class="gap-10"></div>
		<div id="type-symbols">
			<% typeNames.forEach(function(type) { %>
			<div class="type-symbol-item <%= type%>"></div>
			<% }); %>
		</div>
		<div style="display: none;" id="type-info">
			<div class="gap-40"></div>
			<div id="type-content">
			</div>
		</div>
	</section>
	<div class="gap-40"></div>
	<section id="stats-calc" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Stats Calculator</h3>
		<div class="gap-10"></div>
		<h5 id="nature-title">Choose a Nature</h5>
		<div class="row">
			<% natureNames.forEach(function(nature) { %>
			<div class="col s6 m4 l3 xl2 nature-btn-container">
				<div class="nature-btn z-depth-1" data-content="<%= nature%>"><%= nature%></div>
			</div>
			<% }); %>
		</div>
		<div class="gap-20"></div>
		<h5>Set Pokémon Level</h5>
		<div id="level-display" class="center-align">Level: <span>51</span></div>
		<div class="range-field">
			<input type="range" id="level" min="1" max="100" />
		</div>
		<div class="gap-40"></div>
		<h5>Base Values & IVs & EVs</h5>
		<div class="flex-col-center">
			<% statNames.forEach(function(stat) { %>
			<div class="stat-section">
				<div class="stat-value"><span></span><span><%= stat%>:</span><span class="stat-display"
						data-stat="<%= stat.toLowerCase().replace('. ', '')%>">0</span>
				</div>
				<div class="gap-20"></div>
				<div class="stat-data">
					<div class="input-field">
						<input id="base-<%= stat.toLowerCase().replace('. ', '')%>" type="number" class="validate base-field"
							min="0" max="500" step="1">
						<label for="base-<%= stat.toLowerCase().replace('. ', '')%>">Base</label>
					</div>
					<div class="input-field">
						<input id="iv-<%= stat.toLowerCase().replace('. ', '')%>" type="number" class="validate iv-field" min="0"
							max="31" step="1">
						<label for="iv-<%= stat.toLowerCase().replace('. ', '')%>">IV</label>
					</div>
					<div class="input-field">
						<input id="ev-<%= stat.toLowerCase().replace('. ', '')%>" type="number" class="validate ev-field" min="0"
							max="252" step="4">
						<label for="ev-<%= stat.toLowerCase().replace('. ', '')%>">EV</label>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
		<div class="gap-20"></div>
		<div class="stat-btn-group">
			<button id="clear-stats" class="btn waves-effect waves-light teal darken-1 stat-btn" type="button">Clear<i
					class="material-icons right">delete_sweep</i>
			</button>
			<button id="max-ivs" class="btn waves-effect waves-light orange darken-2 stat-btn" type="button">Max IVs<i
					class="material-icons right">arrow_upward</i>
			</button>
			<button id="max-evs" class="btn waves-effect waves-light orange darken-2 stat-btn" type="button">Max EVs<i
					class="material-icons right">arrow_upward</i>
			</button>
			<button id="calc-stats" class="btn waves-effect waves-light deep-orange darken-4 stat-btn"
				type="button">Calculate<i class="material-icons right">keyboard</i>
			</button>
		</div>
	</section>
	<div class="gap-40"></div>
	<section id="dmg-calc" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Damage Calculator</h3>
		<div class="gap-10"></div>
		<div id="data-grid" class="row">
			<!--Offense-->
			<div class="col s12 m12 l6 xl6">
				<h4>Offense</h4>
				<div class="category-box">
					<h5>Metrics</h5>
					<div class="input-field">
						<input id="dmg-level" type="number" class="validate" step="1" min="1" max="100" required>
						<label for="dmg-level">Level <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a number from 1-100">Level of the pokémon on offense</span>
					</div>
					<div class="input-field">
						<input id="eff-atk" type="number" class="validate" step="1" min="4" max="999" required>
						<label for="eff-atk">Effective Attack <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a valid attack stat value">The attack or sp. atk without
							buff</span>
					</div>
					<div class="input-field">
						<input id="power" type="number" class="validate" step="1" min="1" max="500" required>
						<label for="power">Move Power <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a valid power value">Power of the attacking move</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="mv-type">
							<option value="" disabled selected>???</option>
							<% typeNames.forEach(function(type) { %>
							<option value="<%= type%>"><%= type.toUpperCase().substring(0, 1) + type.substring(1)%></option>
							<% }); %>
						</select>
						<label style="font-size: 14px;">Move Type <span class="star red-text">*</span></label>
						<span style="font-size: 14px;" class="helper-text">Type of the attacking move</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="dmg-type" required>
							<option value="" disabled selected>???</option>
							<option value="physical">Physical</option>
							<option value="special">Special</option>
						</select>
						<label style="font-size: 14px;">Damage Type <span class="star red-text">*</span></label>
						<span style="font-size: 14px;" class="helper-text">Category of the move used</span>
					</div>
					<!--Offense Modifiers-->
					<h5>Modifiers</h5>
					<div class="gap-20"></div>
					<div class="other-field box">
						<label>
							<input id="crit" type="checkbox" />
							<span>Critical hit</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="z-move" type="checkbox" />
							<span>Using Z-Move</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="burnt" type="checkbox" />
							<span>Being burnt</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="foresignt" type="checkbox" />
							<span>Used Foresight</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="miracle-eye" type="checkbox" />
							<span>Used Miracle Eye</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="type-buff-item" type="checkbox" />
							<span>Holding a type-enhancing item</span>
						</label>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="atk-buff">
							<option value="-6">-6</option>
							<option value="-5">-5</option>
							<option value="-4">-4</option>
							<option value="-3">-3</option>
							<option value="-2">-2</option>
							<option value="-1">-1</option>
							<option value="0" selected>0</option>
							<option value="1">+1</option>
							<option value="2">+2</option>
							<option value="3">+3</option>
							<option value="4">+4</option>
							<option value="5">+5</option>
							<option value="6">+6</option>
						</select>
						<label style="font-size: 14px;">Attack stat change</label>
						<span style="font-size: 14px;" class="helper-text">Any buff or debuff to the attack stat</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="atk-ability">
							<option value="none" selected>None</option>
							<option value="mode-b">Mold Breaker</option>
							<option value="mode-b">Teravolt</option>
							<option value="mode-b">Turboblaze</option>
							<option value="adaptability">Adaptability</option>
							<option value="aerilate">Aerilate</option>
							<option value="dark-aura">Dark Aura</option>
							<option value="fairy-aura">Fairy Aura</option>
							<option value="galvanize">Galvanize</option>
							<option value="guts">Guts</option>
							<option value="double-atk">Huge Power</option>
							<option value="double-atk">Pure Power</option>
							<option value="hustle">Hustle</option>
							<option value="infiltrator">Infiltrator</option>
							<option value="neuroforce">Neuroforce</option>
							<option value="normalize">Normalize</option>
							<option value="parental-bond">Parental Bond</option>
							<option value="pixilate">Pixilate</option>
							<option value="protean">Protean</option>
							<option value="refrigerate">Refrigerate</option>
							<option value="sand-force">Sand Force</option>
							<option value="scrappy">Scrappy</option>
							<option value="sniper">Sniper</option>
							<option value="solar-power">Solar Power</option>
							<option value="steelworker">Steelworker</option>
							<option value="technician">Technician</option>
							<option value="unaware">Unaware</option>
							<option value="tinted-lens">Tinted Lens</option>
						</select>
						<label style="font-size: 14px;">Offensive Ability</label>
						<span style="font-size: 14px;" class="helper-text">Ability that increases damage</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="atk-item">
							<option value="none" selected>None</option>
							<option value="choice-band">Choice Band</option>
							<option value="choice-specs">Choice Specs</option>
							<option value="muscle-band">Muscle Band</option>
							<option value="wise-glasses">Wise Glasses</option>
							<option value="expert-belt">Expert Belt</option>
							<option value="life-orb">Life Orb</option>
							<option value="m2">Metronome Twice</option>
							<option value="m3">Metronome 3 Times</option>
							<option value="m4">Metronome 4 Times</option>
							<option value="m5">Metronome 5 Times</option>
						</select>
						<label style="font-size: 14px;">Offensive Item</label>
						<span style="font-size: 14px;" class="helper-text">Item that increases damage</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="weather">
							<option value="none" selected>None</option>
							<option value="sunlight">Harsh Sunlight</option>
							<option value="ex-sunlight">Extremely Harsh Sunlight</option>
							<option value="rain">Rain</option>
							<option value="ex-rain">Heavy Rain</option>
							<option value="sandstorm">Sandstorm</option>
							<option value="hail">Hail</option>
							<option value="strong-winds">Strong Winds</option>
						</select>
						<label style="font-size: 14px;">Weather Condition</label>
						<span style="font-size: 14px;" class="helper-text">Current weather of the battlefield</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="custom-mod">
							<option value="0.25">0.25×</option>
							<option value="0.5">0.5×</option>
							<option value="0.75">0.75×</option>
							<option value="1" selected>1.0×</option>
							<option value="1.2">1.2×</option>
							<option value="1.3">1.3×</option>
							<option value="1.5">1.5×</option>
							<option value="2">2.0×</option>
							<option value="3">3.0×</option>
							<option value="4">4.0×</option>
							<option value="5">5.0×</option>
						</select>
						<label style="font-size: 14px;">Custom Modifier</label>
						<span style="font-size: 14px;" class="helper-text">Additional modifier you want to apply</span>
					</div>
				</div>
			</div>
			<!--Defense-->
			<div class="col s12 m12 l6 xl6">
				<h4>Defense</h4>
				<div class="category-box">
					<h5>Metrics</h5>
					<div class="input-field">
						<input id="eff-hp" type="number" class="validate" step="1" min="1" max="999" required>
						<label for="eff-hp">Current HP <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a valid hp stat value">The remaining HP value</span>
					</div>
					<div class="input-field">
						<input id="eff-def" type="number" class="validate" step="1" min="4" max="999" required>
						<label for="eff-def">Effective Defense <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a valid defense stat value">The defense or sp. def without
							buff</span>
					</div>
					<div class="input-field">
						<input id="full-hp" type="number" class="validate" step="1" min="1" max="999" required>
						<label for="full-hp">Full HP <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a valid hp stat value">The HP at 100%</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="pk-type-1">
							<option value="" disabled selected>???</option>
							<% typeNames.forEach(function(type) { %>
							<option value="<%= type%>"><%= type.toUpperCase().substring(0, 1) + type.substring(1)%></option>
							<% }); %>
						</select>
						<label style="font-size: 14px;">Defense Type 1 <span class="star red-text">*</span></label>
						<span style="font-size: 14px;" class="helper-text">The first type of the defensive pokémon</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="pk-type-2">
							<option value="" disabled selected>???</option>
							<% typeNames.forEach(function(type) { %>
							<option value="<%= type%>"><%= type.toUpperCase().substring(0, 1) + type.substring(1)%></option>
							<% }); %>
						</select>
						<label style="font-size: 14px;">Defense Type 2</label>
						<span style="font-size: 14px;" class="helper-text">The second type if applicable</span>
					</div>
					<!--Defense Modifiers-->
					<h5>Modifiers</h5>
					<div class="gap-20"></div>
					<div class="other-field box">
						<label>
							<input id="eviolite" type="checkbox" />
							<span>Eviolite in effect</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="def-ailment" type="checkbox" />
							<span>Having a status ailment</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="hp-full" type="checkbox" checked />
							<span>Having full HP</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="protect" type="checkbox" />
							<span>Under Protect</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="endure" type="checkbox" />
							<span>Using Endure</span>
						</label>
					</div>
					<div class="other-field box">
						<label>
							<input id="type-berry" type="checkbox" />
							<span>Holding a type-resist berry</span>
						</label>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="def-buff">
							<option value="-6">-6</option>
							<option value="-5">-5</option>
							<option value="-4">-4</option>
							<option value="-3">-3</option>
							<option value="-2">-2</option>
							<option value="-1">-1</option>
							<option value="0" selected>0</option>
							<option value="1">+1</option>
							<option value="2">+2</option>
							<option value="3">+3</option>
							<option value="4">+4</option>
							<option value="5">+5</option>
							<option value="6">+6</option>
						</select>
						<label style="font-size: 14px;">Defense stat change</label>
						<span style="font-size: 14px;" class="helper-text">Any buff or debuff to the defense stat</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="def-ability">
							<option value="none" selected>None</option>
							<option value="fur-coat">Fur Coat</option>
							<option value="filter-like">Filter</option>
							<option value="filter-like">Solid Rock</option>
							<option value="prism-armor">Prism Armor</option>
							<option value="multiscale">Multiscale</option>
							<option value="shadow-shield">Shadow Shield</option>
							<option value="friend-guard">Friend Guard</option>
							<option value="dry-skin">Dry Skin</option>
							<option value="no-water">Storm Drain</option>
							<option value="no-water">Water Absorb</option>
							<option value="no-fire">Flash Fire</option>
							<option value="flower-gift">Flower Gift</option>
							<option value="no-flying">Levitate</option>
							<option value="no-electric">Lightning Rod</option>
							<option value="no-electric">Motor Drive</option>
							<option value="no-electric">Volt Absorb</option>
							<option value="marvel-scale">Marvel Scale</option>
							<option value="sturdy">Sturdy</option>
							<option value="thick-fat">Thick Fat</option>
							<option value="heatproof">Heatproof</option>
							<option value="unaware">Unaware</option>
							<option value="wonder-guard">Wonder Guard</option>
							<option value="no-grass">Sap Sipper</option>
							<option value="water-bubble">Water Bubble</option>
							<option value="aura-break">Aura Break</option>
						</select>
						<label style="font-size: 14px;">Defensive Ability</label>
						<span style="font-size: 14px;" class="helper-text">Ability that reduces damage</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="def-item">
							<option value="none" selected>None</option>
							<option value="focus-sash">Focus Sash</option>
							<option value="air-balloon">Air Balloon</option>
							<option value="assault-vest">Assault Vest</option>
						</select>
						<label style="font-size: 14px;">Defensive Item</label>
						<span style="font-size: 14px;" class="helper-text">Item that reduces damage</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="field">
							<option value="none" selected>None</option>
							<option value="electric">Electric Terrain</option>
							<option value="grassy">Grassy Terrain</option>
							<option value="misty">Misty Terrain</option>
							<option value="psychic">Psychic Terrain</option>
							<option value="gravity">Gravity</option>
						</select>
						<label style="font-size: 14px;">Field Type</label>
						<span style="font-size: 14px;" class="helper-text">Current terrain type of the battlefield</span>
					</div>
					<div class="input-field drop">
						<select class="custom-select" id="def-screen">
							<option value="none" selected>None</option>
							<option value="reflect">Reflect</option>
							<option value="light-screen">Light Screen</option>
							<option value="aurora-veil">Aurora Veil</option>
						</select>
						<label style="font-size: 14px;">Defensive Screen</label>
						<span style="font-size: 14px;" class="helper-text">Reflect, Light Screen, or Aurora Veil</span>
					</div>
				</div>
			</div>
		</div>
		<div class="gap-40"></div>
		<div id="dmg-btn-group">
			<button id="clear-dmg" class="btn waves-effect waves-light teal darken-1 dmg-btn" type="button">Clear<i
					class="material-icons right">delete_sweep</i>
			</button>
			<button id="calc-dmg" class="btn waves-effect waves-light deep-orange darken-4 dmg-btn" type="button">Evaluate<i
					class="material-icons right">assessment</i>
			</button>
		</div>
		<div id="eva-sect">
			<h4 id="eva-head" class="valign-wrapper"><span>Result</span></h4>
			<h5 class="row"><span class="col s1 m2"></span><span class="eva-title col s8 m6">Type
					Effectiveness:</span><span id="type-value" class="eva-value col s3 m4">4.0×</span>
			</h5>
			<h5 class="row"><span class="col s1 m2"></span><span class="eva-title col s8 m6">Damage Percentage
					Range:</span><span class="eva-value col s3 m4"><span id="min-percent">60</span>% -
					<span id="max-percent">80</span>%</span></h5>
			<h5 class="row"><span class="col s1 m2"></span><span id="min-value" class="eva-title col s8 m6">Damage Value
					Range:</span><span class="eva-value col s3 m4"><span id="max-value">130</span> -
					<span>160</span></span></h5>
			<h5 class="row" style="margin-bottom: 0;"><span class="col s1 m2"></span><span class="eva-title col s8 m6">Target
					Remaining HP Range:</span><span class="eva-value col s3 m4"><span id="min-remain">25</span> -
					<span id="max-remain">55</span></span></h5>
			<div class="gap-20"></div>
		</div>
	</section>
	<!--Footer-->
	<% include partials/footer %>
	<!--Scripts-->
	<% include partials/scripts %>
	<!--Custom Scripts-->
	<script src="/javascripts/calc.js"></script>
</body>

</html>