<!DOCTYPE html>
<html lang="en">
<!--Head-->
<% include partials/head %>

<body>
	<!--Navbar-->
	<% include partials/nav %>
	<!--Main Content-->
	<!--Hero-->
	<section class="container hero">
		<h1 class="deep-orange-text text-darken-4">
			<%= title %>
		</h1>
		<p class="grey-text text-darken-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sunt
			cupiditate culpa tenetur placeat nobis, officia quaerat repellendus consectetur a veniam ducimus minima animi
			accusamus facere quis at harum in?</p>
	</section>
	<section id="type-effect" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Type Effectiveness</h3>
		<div class="gap-10"></div>
		<div id="type-symbols">
			<% typeNames.forEach(function(type) { %>
			<div class="type-symbol-item <%= type%>"></div>
			<% }); %>
		</div>
		<div style="display: none;" id="type-info">
			<div class="gap-40"></div>
			<div id="type-content">
			</div>
		</div>
	</section>
	<div class="gap-40"></div>
	<section id="stats-calc" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Stats Calculator</h3>
		<div class="gap-10"></div>
		<h5 id="nature-title">Choose a Nature</h5>
		<div class="row">
			<% natureNames.forEach(function(nature) { %>
			<div class="col s6 m4 l3 xl2 nature-btn-container">
				<div class="nature-btn z-depth-1" data-content="<%= nature%>"><%= nature%></div>
			</div>
			<% }); %>
		</div>
		<div class="gap-20"></div>
		<h5>Set Pokémon Level</h5>
		<div id="level-display" class="center-align">Level: <span>51</span></div>
		<div class="range-field">
			<input type="range" id="level" min="1" max="100" />
		</div>
		<div class="gap-40"></div>
		<h5>Base Values & IVs & EVs</h5>
		<div class="flex-col-center">
			<% statNames.forEach(function(stat) { %>
			<div class="stat-section">
				<div class="stat-value"><span></span><span><%= stat%>:</span><span class="stat-display"
						data-stat="<%= stat.toLowerCase().replace('. ', '')%>">0</span>
				</div>
				<div class="gap-20"></div>
				<div class="stat-data">
					<div class="input-field">
						<input id="base-<%= stat.toLowerCase().replace('. ', '')%>" type="number" class="validate base-field"
							min="0" max="500" step="1">
						<label for="base-<%= stat.toLowerCase().replace('. ', '')%>">Base</label>
					</div>
					<div class="input-field">
						<input id="iv-<%= stat.toLowerCase().replace('. ', '')%>" type="number" class="validate iv-field" min="0"
							max="31" step="1">
						<label for="iv-<%= stat.toLowerCase().replace('. ', '')%>">IV</label>
					</div>
					<div class="input-field">
						<input id="ev-<%= stat.toLowerCase().replace('. ', '')%>" type="number" class="validate ev-field" min="0"
							max="252" step="4">
						<label for="ev-<%= stat.toLowerCase().replace('. ', '')%>">EV</label>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
		<div class="gap-20"></div>
		<div class="stat-btn-group">
			<button id="clear-stats" class="btn waves-effect waves-light teal darken-1 stat-btn" type="button">Clear<i
					class="material-icons right">delete_sweep</i>
			</button>
			<button id="max-ivs" class="btn waves-effect waves-light orange darken-2 stat-btn" type="button">Max IVs<i
					class="material-icons right">arrow_upward</i>
			</button>
			<button id="max-evs" class="btn waves-effect waves-light orange darken-2 stat-btn" type="button">Max EVs<i
					class="material-icons right">arrow_upward</i>
			</button>
			<button id="calc-stats" class="btn waves-effect waves-light deep-orange darken-4 stat-btn"
				type="button">Calculate<i class="material-icons right">keyboard</i>
			</button>
		</div>
	</section>
	<div class="gap-40"></div>
	<section id="dmg-calc" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Damage Calculator</h3>
		<div class="gap-10"></div>
		<div id="data-grid" class="row">
			<div class="col s12 m12 l6 xl6">
				<h4>Offense</h4>
				<div class="category-box">
					<h5>Metrics</h5>
					<div class="input-field">
						<input id="dmg-level" type="number" class="validate" step="1" min="1" max="100" required>
						<label for="dmg-level">Level <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a number from 1-100">Level of the pokémon on offense</span>
					</div>
					<div class="input-field">
						<input id="eff-atk" type="number" class="validate" step="1" min="4" max="999" required>
						<label for="eff-atk">Effective Attack <span class="star red-text">*</span></label>
						<span class="helper-text" data-error="Enter a valid attack stat value">The attack or sp. atk without
							buff</span>
					</div>
				</div>
			</div>
			<div class="col s12 m12 l6 xl6">
				<h4>Defense</h4>
				<div class="category-box">
					<h5>Metrics</h5>
				</div>
			</div>
		</div>
	</section>
	<!--Footer-->
	<% include partials/footer %>
	<!--Scripts-->
	<% include partials/scripts %>
	<!--Custom Scripts-->
	<script src="/javascripts/calc.js"></script>
</body>

</html>