<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <% include partials/head %>
  <body>
    <!--Navbar-->
    <% include partials/nav %>
    <!--Main Content-->
    <!--Hero-->
    <section class="container hero">
      <h1 class="pink-text text-darken-3"><%= title %></h1>
      <div id="name-id">
        <h5>National Dex# <%= id %></h5>
        <h5 style="width: 80px;"></h5>
        <h5 style="text-transform: capitalize;">Name: <%= name %></h5>
      </div>
      <div class="artwork"><img src="<%= artworkUrl %>" alt="art<%= id %>"></div>
    </section>
    <!--Footer-->
    <% include partials/footer %>
    <!--Scripts-->
    <% include partials/scripts %>
    <!--Custom Scripts-->
  </body>
</html>